#include <stdio.h>
#include <stdlib.h>

int main()
{ 
int i,sum=0;
    for(i=2;i<=30;i++)
    {
        if(i%2==0)
        {
            sum=sum+i;
        }

    }
    printf("Sum of double numbers between 2 and 30: %d",sum);
    
}
